[Unit]
Description=ROV Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/mahan/bluecup-raspberry-pi/src/
ExecStart=/home/mahan/bluecup-raspberry-pi/.venv/bin/python /home/mahan/bluecup-raspberry-pi/src/main.py
User=mahan

# Always restart
Restart=always

# Slow python give em 2 seconds before restart
RestartSec=2 
StartLimitIntervalSec=0

[Install]
# system wide service
WantedBy=multi-user.target